* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  padding: 95px;
  margin: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(124.53deg, #fc3f5f 0%, #7d61ff 100.32%);
  background-repeat: no-repeat;
  color: #fff;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #fff;
}
img {
  max-width: 100%;
  height: auto;
}
.burger-icon { 
  cursor: pointer;
  display: none;
}